
.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}

.editor-container_include-block-toolbar {
	margin-left: 42px;
}
.ck-content {
	height: 40vh;
	overflow-y: scroll;
  
	&.ck-blurred {
	  height: 40vh;
	}
  
	&.ck-focused {
	  height: 40vh;
	}
  }
  .ck-editor__editable {
	font-size: inherit !important;
  }
  