

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #0891b2;
  text-shadow: 0 0 0.25px currentcolor
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab:hover {
  color: #0891b2;
}

.ant-tabs-nav-list {
  color: #0891b2;
}

.ant-tabs-ink-bar {
  background-color: #0891b2 !important; /* Thay đổi mã màu theo ý bạn */
}

